#*****************************************************************
# LLM and OPENAI KEY (currently only tested with gpt-4)
#*****************************************************************
LLM=gpt-4
OPENAI_API_KEY=<your_open_ai_key>

