#*****************************************************************
# LLM and Embedding Model
#*****************************************************************
LLM=gpt-4
OPENAI_API_KEY=
EMBEDDING_MODEL=text-embedding-3-small
#LLM=llama2 #or any Ollama model tag, gpt-4 (o or turbo), gpt-3.5, or any bedrock model
#EMBEDDING_MODEL=sentence_transformer #or google-genai-embedding-001 openai, ollama, or aws

#*****************************************************************
# Database Configuration
#*****************************************************************
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
